{erl_opts, [{parse_transform, lager_transform}]}.

%{xref_checks, [undefined_function_calls]}.
%{pre_hooks, [{compile, "rebar xref"}]}.
{cover, enabled}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{deps, [
    {lager, "2.0.3",
        {git, "https://github.com/k2informatics/lager.git", {tag, "2.0.3"}}}
]}.
